*{
    box-sizing: border-box;
}
body{
    background-color: rgb(255 245 245);

}

.containear{
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(255 194 194);
    text-align: center;
}
#signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding: 7px;
}

button{
    outline: none;
    width: 190px;
    height: 40px;
    padding: 5px 10px;
    background-color: rgb(236 175 175);
    border-radius: 5px;
    border: 2px solid rgb(236 175 175);
    color: white;

}
.btn{
    outline: none;
    width: 80px;
    height: 30px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(255 194 194);
    color:rgb(255 194 194);
    margin: inherit;

}
.Error{
    
    width: 90%;
    margin: 5px auto;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgb(236, 14, 37);
}
#myTable{
    margin-top: 20px;
    text-align: center;
}
th,td{
    margin: 3px;
   
}